*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: tahoma;
    background: rgb(241, 251, 252);
    width: 90%;
    margin: 0 auto;
}
.main-nav{
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 3px 2px rgb(243, 240, 240);
    margin-bottom: 2rem;
    color: blue;
    background: white;
}
.main-nav h1{
    font-size: 20px;
    opacity: 0.7;
}
.logo{
    display: flex;
}
.logo img{
    margin-left: 1rem;
    width: 30px;
    height: 20px;
}
.menu{
    background: #f4f4f4;
    height: 50vh;
    width: 40%;
    position: absolute;
    top: 0;
    left: 80%;
    display: none;
    z-index: 1;
}
.menu ul{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding-left: 1rem;
    justify-content: center;
    align-items: flex-start;
}
#closeMenu{
    padding:1rem;
    margin-left: 40%;
    cursor: pointer;
}
#openMenu{
    cursor: pointer;
}
.menu ul li{
    padding: 10px;
}
.main-nav ul{
    display: flex;
    list-style: none;
}
.main-nav a{
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
    color: blue;
}
.main-nav a:hover{
    font-weight: bold;
    transition: all 0.5s ease;
}
.showcase{
    opacity: 0.9;
    width: 70%;
    margin: auto;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}
.showcase h3{
    font-weight: lighter;
    letter-spacing: 2px;
}
.showcase p{
    padding-top: 10px;
    font-size: 14px;
    letter-spacing: 2px;
}
main{
    width: 70%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.left{
    padding: 1rem 2rem;
}
.slider, .slider_2{
    margin-bottom: 1rem;
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, gray 60%, gray 60%);
    opacity: 0.7;
    outline: none;
    transition: opacity 200ms ;
    cursor: pointer;
}
.slider::-webkit-slider-thumb, .slider_2::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: blue 2px solid;
    border-radius: 50%;
}
.slider::after{
    content: '$2.5 million';
    color: black;
    position: absolute;
    top: 15px;
    left: 75%;
    font-size: 12px;
}
.slider::before{
    content: '$60,000';
    position: absolute;
    top: 15px;
    font-size: 12px;
}
.slider_2::before{
    content: '5% or more of purchase price';
    position: absolute;
    top: 15px;
    font-size: 12px;
}
.up{
    margin-bottom: 4rem;
    opacity: 0.9;
}
.up h2{
    font-weight: 500;
}
.up p{
    font-size: 14px;
    margin: 5px 0;
}
.purchase{
    display: flex;
}
.small{
    font-size: 14px;
    margin-top: 3px;
    margin-right: 3px;
}
.payment{
    margin-bottom: 2rem;
}
.bottom{
    display: flex;
}
.bottom p{
    margin-bottom: 1rem;
}
.code p{
    color: gray;
}
.radio{
    display: flex;
    align-items: center;
}
.radio input{
    margin-right: 3px;
}
.radio h4{
    font-size: 14px;
}
.period{
    margin-right: 2rem;
}
.period>div{
    margin-bottom: 10px;
    opacity: 0.9;
}
.period p{
    color: gray;
}
.code h2{
    opacity: 0.9;
    font-weight: 500;
}
.right{
    opacity: 0.9;
    background: white;
    margin-right: 2rem;
    padding: 1rem 3rem;
    border-radius: 16px;
    box-shadow: 1px 2px 3px lightgray;
    position: relative;
}
.right p{
    margin: 1rem 0;
}
.small-1{
    font-size: 14px;
    display: flex;
}
.small-1 h1{
    font-size: 48px;
    color: blue;
    font-weight: 500;
}
.small-1 h2{
    margin-top: 6px;
    color: blue;
}
.rate{
    margin-bottom: 1rem;
}
.rate p{
    text-align: center;
    margin: 0.6rem;
}
.rate h3{
    text-align: center;
    font-weight: 500;
}
.btn{
    padding: 10px 30px;
    margin: 1rem;
    position: absolute;
    top: 85%;
    left: 30%;
    border-radius: 6px;
    border: none;
    background: red;
    color: white;
    cursor: pointer;
    box-shadow: 1px 2px 3px lightgray;;
}
.btn:hover{
    transform: scale(1.2, 1.3);
    transition: all 0.5s ease-in-out;
}
.right p{
    color: rgb(30, 30, 148);
    letter-spacing: 1px;
}
.rate{
    display: flex;
}
.rate>div{
    margin: 1rem 2rem 1rem 0;
}

/* MEDIA Qz */
@media(max-width:768px){
    body{
        width: 100%;
    }
    .main-nav{
        position: relative;
    }
    .main-nav h1{
        font-size: 16px;
    }
    .menu{
        background: rgb(226, 222, 222);
        height: 100vh;
        width: 50%;
        position: absolute;
        top: 0;
        z-index: 1;
        left: 60%;
        display: none;
        transition: all 1s ease-in-out;
    }
    .menu ul{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        padding-left: 1rem;
        justify-content: center;
        align-items: flex-start;
    }
    #closeMenu{
        padding: 5px 1rem;
        margin-left: 60%;
    }
    .menu ul li{
        padding: 10px;
    }
    
    #openMenu, #closeMenu{
        display: block;
    }
    .showcase{
        width: 90%;
    }
    .showcase h3{
        letter-spacing: 1px;
    }
    .showcase p{
        margin-top: 1rem;
        letter-spacing: 1px;
    }
    main{
        width: 90%;
        display: block;
        margin-bottom: 2rem;
    }
    .bottom{
        display: none;
    }
    .right{
        margin-right: 0;
    }
    .rate{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .rate>div{
        margin: 0;
    }
}